.body-wrapper{
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    padding-top: 1%;
    flex-grow: 1;
    background-color: #444;
  }
  
  
  .testWrapper {
    height: 10000px;
    width: 100px;
    background-color: white;
  }